/*! minireset.css v0.0.5 | MIT License | github.com/jgthms/minireset.css */
@import url("https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap");
html, body, p, ol, ul, li, dl, dt, dd, blockquote, figure, fieldset, legend, textarea, pre, iframe, hr, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button, input, select, textarea {
  margin: 0;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

img, video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td, th {
  padding: 0;
  text-align: left;
}

.container {
  margin: 0 auto;
  padding: 0 30px;
  width: 100%;
  max-width: 1400px;
  position: relative;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

[class*=col-] {
  float: left;
  padding: 0 7.5px;
  width: 100%;
}

/* For tablets: */
@media only screen and (min-width: 600px) {
  .col-s-1 {
    width: 8.33%;
  }

  .col-s-2 {
    width: 16.66%;
  }

  .col-s-3 {
    width: 25%;
  }

  .col-s-4 {
    width: 33.33%;
  }

  .col-s-5 {
    width: 41.66%;
  }

  .col-s-6 {
    width: 50%;
  }

  .col-s-7 {
    width: 58.33%;
  }

  .col-s-8 {
    width: 66.66%;
  }

  .col-s-9 {
    width: 75%;
  }

  .col-s-10 {
    width: 83.33%;
  }

  .col-s-11 {
    width: 91.66%;
  }

  .col-s-12 {
    width: 100%;
  }
}
/* For desktop: */
@media only screen and (min-width: 768px) {
  .col-1 {
    width: 8.33%;
  }

  .col-2 {
    width: 16.66%;
  }

  .col-3 {
    width: 25%;
  }

  .col-4 {
    width: 33.33%;
  }

  .col-5 {
    width: 41.66%;
  }

  .col-6 {
    width: 50%;
  }

  .col-7 {
    width: 58.33%;
  }

  .col-8 {
    width: 66.66%;
  }

  .col-9 {
    width: 75%;
  }

  .col-10 {
    width: 83.33%;
  }

  .col-11 {
    width: 91.66%;
  }

  .col-12 {
    width: 100%;
  }
}
* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.team figure figcaption, h4, h3, h2, h1, p, a {
  font-family: Raleway;
  font-style: normal;
  font-weight: normal;
}

a {
  text-decoration: none;
}

p {
  font-size: 11px;
}

strong {
  font-weight: bold;
}

h1 {
  font-weight: 700;
  font-size: 24px;
  text-transform: uppercase;
  color: #FFFFFF;
}

h2 {
  font-weight: bold;
  font-size: 13px;
  line-height: 42px;
  text-align: center;
  text-transform: uppercase;
  color: #30B2DB;
  position: relative;
  padding: 42px 0 36px;
}
h2:before {
  content: "";
  position: absolute;
  width: 42px;
  height: 3px;
  background: #30B2DB;
  border-radius: 6px;
  bottom: 40px;
  left: calc(50% - 21px);
}

h3 {
  font-size: 13px;
  font-weight: bold;
  text-transform: uppercase;
  color: #FBB909;
  margin-bottom: 10px;
}

h4 {
  font-size: 12px;
  font-weight: bold;
  margin-bottom: 15px;
}

@media only screen and (min-width: 768px) {
  p {
    font-size: 18px;
  }

  h1 {
    font-size: 48px;
  }

  h2 {
    font-size: 36px;
    padding: 90px 0 150px;
  }
  h2:before {
    width: 115px;
    height: 5px;
    bottom: 125px;
    border-radius: 10px;
    left: calc(50% - 57.5px);
  }

  h3 {
    font-size: 36px;
    margin-bottom: 30px;
  }

  h4 {
    font-size: 20px;
    margin-bottom: 30px;
  }
}
.btn {
  display: inline-block;
  border: 2px solid transparent;
  border-radius: 10px;
  padding: 10px 35px;
  font-weight: 600;
  font-size: 11px;
  text-transform: uppercase;
  background: #FBB909;
  color: #FFF;
}

@media only screen and (min-width: 768px) {
  .btn {
    padding: 15px 35px;
    font-size: 18px;
  }
}
.team figure, .block, #uneHomePage article figure {
  transition: all 0.2s ease-out;
}
.team figure:hover, .block:hover, #uneHomePage article figure:hover {
  transform: scale(1.02);
}

#actuHomePage .btn, #uneHomePage .btn {
  margin: auto;
}

header {
  height: 64px;
  display: flex;
  justify-content: space-between;
  background: #141414;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  transition: all 0.25s ease-out;
}
header #h1 {
  display: inline-block;
  height: 100%;
  width: 50%;
}
header #h1 a {
  background: url("../asset/img/logo/LOGO-CIMAISE-COULEUR-S.png") no-repeat center/60px;
  height: 100%;
  width: 50%;
  display: inline-block;
  transition: all 0.25s ease-out;
  color: transparent;
  animation-fill-mode: forwards;
}
header .menuResponsive {
  width: 50%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
header .menuResponsive a {
  margin-right: 10%;
}
header .menuResponsive i {
  color: white;
  font-size: 33px;
  margin-right: 15%;
}
header nav {
  visibility: hidden;
  background: #F4F4F4;
  height: calc(100vh - 64px);
  width: 100%;
  display: flex;
  justify-content: center;
  position: absolute;
  top: 64px;
  z-index: 1;
}
header nav ul {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
}
header nav ul li {
  text-align: center;
  width: 100%;
}
header nav a {
  font-weight: normal;
  line-height: 28px;
  font-size: 22px;
  color: #000000;
}
@media only screen and (min-width: 768px) {
  header {
    height: 90px;
    background: #F4F4F4;
    justify-content: flex-end;
  }
  header #h1 {
    position: absolute;
    left: 3.5%;
    z-index: 2;
    width: inherit;
  }
  header #h1 a {
    background: #FFF url("../asset/img/logo/LOGO-CIMAISE-COULEUR.png") no-repeat center/70%;
    border-radius: 0 0 10px 10px;
    display: block;
    height: 220px;
    width: 180px;
  }
  header .menuResponsive {
    display: none;
  }
  header nav {
    visibility: visible;
    height: 100%;
    width: calc(100% - (5% + 180px));
    top: 0;
  }
  header nav ul {
    flex-direction: inherit !important;
  }
  header nav ul li {
    width: initial;
  }
  header nav ul .btn {
    position: relative;
    padding-left: 60px;
  }
  header nav ul .btn i {
    left: 22px;
    top: calc(50% - 12.5px);
    font-size: 25px;
    position: absolute;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1500px) {
  nav .btn {
    position: relative;
    padding: 15px 35px !important;
    height: 62px;
  }
  nav .btn span {
    display: none;
  }
}
main {
  margin-top: 64px;
}
@media only screen and (min-width: 768px) {
  main {
    margin-top: 90px;
  }
}

.bannerHome {
  height: calc(70vh - 64px);
  background: aqua;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background: url(../asset/img/block/background3.png) center center no-repeat;
}
.bannerHome > div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.bannerHome > div > div {
  display: table;
}
.bannerHome .underlineH1 {
  display: block;
  height: 6px;
  width: 195px;
  margin: 15px 0 35px;
  background: #FFFFFF;
}
.bannerHome p {
  font-size: 13px;
  color: #FFFFFF;
  margin-bottom: 50px;
}
@media only screen and (min-width: 768px) {
  .bannerHome {
    height: calc(80vh - 90px);
  }
  .bannerHome .underlineH1 {
    width: 343px;
    height: 9px;
    margin: 40px 0 50px;
  }
  .bannerHome p {
    font-size: 28px;
  }
}

#homePage .bannerHome {
  height: calc(100vh - 64px);
  background: url(../asset/img/block/backgroundHome.jpg) center center no-repeat;
}
@media only screen and (min-width: 768px) {
  #homePage .bannerHome {
    height: calc(100vh - 90px);
  }
}

@media only screen and (min-width: 768px) {
  #scrollDown {
    height: 72px;
    width: 72px;
    position: absolute;
    bottom: 40px;
    left: calc(50% - 36px);
    background: #FFFFFF;
    border-radius: 50px;
  }
  #scrollDown a {
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  #scrollDown a i {
    font-size: 30px;
    color: #141414;
  }
}
#uneHomePage > div {
  display: inline-block;
}
#uneHomePage article {
  position: relative;
  display: block;
  margin-bottom: 40%;
}
#uneHomePage article div {
  position: absolute;
  bottom: -80px;
  left: calc(50% - 30%);
  background: #FBB909;
  width: 60%;
  height: 150px;
  padding: 4%;
  border-radius: 20px;
}
#uneHomePage article h3 {
  color: #FFFFFF;
  background: #E24827;
  display: inline-block;
}
#uneHomePage article p,
#uneHomePage article a {
  color: #FFFFFF;
  font-size: 11px;
}
@media only screen and (min-width: 768px) {
  #uneHomePage article {
    margin-bottom: 20%;
  }
  #uneHomePage article div {
    bottom: -140px;
    left: calc(50% - 40%);
    width: 80%;
    height: 260px;
    padding: 5%;
  }
  #uneHomePage article p,
#uneHomePage article a {
    font-size: 18px;
  }
}
#citeHomePage {
  background: #30B2DB;
}
#citeHomePage > div {
  text-align: center;
  padding-bottom: 30px;
  display: table;
}
#citeHomePage h2 {
  color: #FFFFFF;
}
#citeHomePage h2:before {
  background: #FFFFFF;
}
#citeHomePage p {
  font-size: 13px;
  text-align: center;
  color: #FFFFFF;
  margin-bottom: 40px;
}
@media only screen and (min-width: 768px) {
  #citeHomePage > div {
    padding-bottom: 60px;
  }
  #citeHomePage p {
    font-size: 36px;
    margin-bottom: 100px;
  }
}

#actuHomePage p {
  margin: 0;
  padding: 0 0 10% 0;
}
#actuHomePage > div {
  display: flex;
  justify-content: center;
}
#actuHomePage .actualite > p:nth-child(1) {
  font-weight: 500;
  font-size: 11px;
  text-transform: uppercase;
  width: 33.33%;
}
#actuHomePage .actualite > div {
  width: 66.66%;
}
#actuHomePage .actualite > div > p {
  max-width: 530px;
  margin: 0 auto 0 10%;
}
#actuHomePage strong {
  display: block;
}
#actuHomePage .date {
  position: relative;
  text-align: center;
  border-right: 6px solid #30B2DB;
}
#actuHomePage .date:before {
  content: "";
  position: absolute;
  top: -3px;
  background: #30B2DB;
  height: 16px;
  width: 16px;
  right: -11px;
  border-radius: 20px;
}
#actuHomePage div:last-of-type > p {
  border-color: transparent;
}
@media only screen and (min-width: 768px) {
  #actuHomePage .actualite > p:nth-child(1) {
    font-size: 18px;
  }
  #actuHomePage .date {
    border-width: 6px;
  }
  #actuHomePage .date:before {
    height: 27px;
    width: 27px;
    right: -17px;
  }
}

.sectionBlock {
  width: 100%;
}

.block {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  height: 172px;
  background: #C4C4C4 center no-repeat;
}
.block h2 {
  color: #fff;
  margin: auto;
}
.block h2::before {
  background-color: #fff;
}
@media only screen and (min-width: 768px) {
  .block {
    margin-bottom: 20px;
    height: 450px;
  }
}

.contactBlock {
  background-image: url(../asset/img/block/contact.png);
}

.engageBlock {
  background-image: url(../asset/img/block/engage.png);
}

.donationBlock {
  background-image: url(../asset/img/block/donation.png);
}

#quiSommesNousPage > .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#quiSommesNousPage > .container .row {
  padding: 0;
}
#quiSommesNousPage section {
  position: relative;
}
#quiSommesNousPage .ligne {
  flex-direction: row-reverse;
  display: flex;
  margin: 3% 0 7%;
}
#quiSommesNousPage .ligne h3 {
  border-top: #FBB909 3px solid;
  border-bottom: #FBB909 3px solid;
  padding: 10px 0;
  margin: 0;
}
@media only screen and (min-width: 768px) {
  #quiSommesNousPage .ligne {
    margin: 0;
    position: absolute;
    right: 0px;
    top: 0px;
  }
  #quiSommesNousPage .ligne h3 {
    border-top: #FBB909 5px solid;
    border-bottom: #FBB909 5px solid;
    padding: 0;
  }
}

.team {
  margin-top: 4%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
  grid-gap: 3em;
}
.team figure {
  position: relative;
}
.team figure figcaption {
  position: absolute;
  display: flex;
  justify-content: center;
  top: 0;
  bottom: 5px;
  left: 0;
  right: 0;
  flex-direction: column;
  align-items: center;
  font-size: 24px;
  color: #fff;
  font-weight: 600;
}
.team figure span {
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 1%;
}
.team img {
  width: 100%;
}

#articlePage h1 {
  color: #30B2DB;
  text-align: center;
}
#articlePage .bannerHome {
  background: #fff;
}

#contactPage {
  display: flex;
  flex-direction: column;
}
#contactPage h1 {
  color: #30B2DB;
  text-align: center;
}
#contactPage .bannerHome {
  background: #fff;
  height: calc(70vh - 64px);
}
#contactPage section {
  flex-direction: row;
}
#contactPage div > div:nth-child(2),
#contactPage div > div:nth-child(3) {
  padding: 50px 0 40px;
  border-top: 1px solid #000;
}

#coordonnees a {
  font-weight: 600;
  text-decoration: none;
  color: #141414;
  margin-bottom: 20px;
  display: block;
}

.main-add-button-plus,
.main-add-button-minus,
.main-add-button-plus1,
.main-add-button-minus1 {
  background-color: #30B2DB;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  position: absolute;
  -webkit-box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.75);
}

.hide {
  display: none;
}

#check-for-clicking,
#check-for-clicking1 {
  display: none;
}

.main-add-button-plus,
.main-add-button-minus,
.main-add-button-plus1,
.main-add-button-minus1 {
  background: #30B2DB;
  box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.35);
  cursor: pointer;
  right: 11%;
}

.main-add-button-plus .menu-add-button-title,
.main-add-button-plus1 .menu-add-button-title,
.main-add-button-minus .menu-add-button-title,
.main-add-button-minus1 .menu-add-button-title {
  width: 100%;
  font-size: 15px;
  padding-top: 5px;
  text-align: center;
  color: #fafafa;
}

#check-for-clicking:checked ~ .main-add-button-plus,
#check-for-clicking1:checked ~ .main-add-button-plus1 {
  display: none;
  -webkit-transition-delay: 0.1s;
  -moz-transition-delay: 0.1s;
  transition-delay: 0.1s;
}

#check-for-clicking:checked ~ .main-add-button-minus,
#check-for-clicking1:checked ~ .main-add-button-minus1 {
  display: inline;
  -webkit-transition-delay: 0.1s;
  -moz-transition-delay: 0.1s;
  transition-delay: 0.1s;
}

#check-for-clicking:not(:checked) ~ .main-add-button-minus,
#check-for-clicking1:not(:checked) ~ .main-add-button-minus1 {
  display: none;
  -webkit-transition-delay: 0.1s;
  -moz-transition-delay: 0.1s;
  transition-delay: 0.1s;
}

#check-for-clicking:not(:checked) ~ .main-add-button-plus,
#check-for-clicking1:not(:checked) ~ .main-add-button-plus1 {
  display: inline;
  -webkit-transition-delay: 0.1s;
  -moz-transition-delay: 0.1s;
  transition-delay: 0.1s;
}

#engage .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#engage .sectionText > p:nth-child(2) {
  margin-bottom: 10%;
  text-align: center;
}

footer {
  padding: 8% 0 20px;
  color: #fff;
  background-color: #E24827;
}
footer a {
  color: #fff;
}
footer .missionLogo div:nth-child(1) {
  order: 1;
}
footer img {
  width: 60px;
}
footer li {
  padding-bottom: 15px;
  font-size: 11px;
  font-weight: normal;
}
footer .contenuFooter {
  display: inline-block;
  width: 100%;
}
footer .contenuFooter p {
  max-width: 190px;
}
footer section {
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 30px;
}
footer .reseaux {
  flex-direction: column;
  font-size: 25px;
}
footer .reseaux a {
  margin-right: 3%;
}
footer #mentionLeg {
  display: inline-block;
  background-color: #E24827;
  color: #fff;
  font-size: 13px;
  width: 100%;
  text-align: center;
  margin: 0;
}
footer #mobileCopyright {
  display: none;
}
@media only screen and (min-width: 768px) {
  footer .missionLogo div:nth-child(1) {
    order: 0;
  }
  footer .missionLogo div:nth-child(2) {
    margin: 0 auto;
  }
  footer img {
    width: 138px;
    padding-right: 30px;
  }
  footer .contenuFooter p {
    font-size: 18px;
    max-width: 400px;
  }
  footer li {
    font-size: 18px;
    padding-bottom: 25px;
  }
  footer section {
    justify-content: inherit;
  }
  footer .reseaux {
    flex-direction: column;
    font-size: 40px;
  }
  footer .reseaux a {
    margin-right: 5%;
  }
}

p {
  margin-bottom: 4%;
}

section {
  margin: 0 auto 4% auto !important;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/*# sourceMappingURL=style.css.map */
