@import 'libs/reset.scss';
@import 'libs/responsive.scss';

@import url('https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap');

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}


// Couleur

$bleu: #30B2DB;
$orange:#FBB909;
$rouge:#E24827;


//Texte

%font {
  font-family: Raleway;
  font-style: normal;
  font-weight: normal;
}

a {
  @extend %font;
  text-decoration: none;
}

p {
  @extend %font;
  font-size: 14px;
  margin-bottom: 4%;
}

strong {
  font-weight: bold;
}

h1 {
  @extend %font;
  font-weight: 700;
  font-size: 24px;
  text-transform: uppercase;
  color: #FFFFFF;
  display: none;
}

h2 {
  @extend %font;
  font-weight: bold;
  font-size: 18px;
  line-height: 42px;
  text-align: center;
  text-transform: uppercase;
  color: $bleu;
  position: relative;
  padding: 42px 0 36px;

  &:before {
    content: "";
    position: absolute;
    width: 42px;
    height: 3px;
    background: $bleu;
    border-radius: 6px;
    bottom: 40px;
    left: calc(50% - 21px);
  }
}

h3 {
  @extend %font;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  color: $orange;
  margin-bottom: 10px;
}

.h4 {
  @extend %font;
  font-size: 12px;
  font-weight: bold;
  margin-bottom: 15px;
}

@media only screen and (min-width: 768px) {
  p {
    font-size: 18px;
  }

  h1 {
    font-size: 48px;
  }

  h2 {
    font-size: 36px;
    padding: 90px 0 150px;

    &:before {
      width: 115px;
      height: 5px;
      bottom: 125px;
      border-radius: 10px;
      left: calc(50% - 57.5px);
    }
  }

  h3 {
    font-size: 36px;
    margin-bottom: 30px;
  }

  .h4 {
    font-size: 20px;
    margin-bottom: 30px;
  }

}



// Bouton

.btn {
  display: inline-block;
  border: 2px solid transparent;
  border-radius: 10px;
  padding: 10px 35px;
  font-weight: 600;
  font-size: 11px;
  text-transform: uppercase;
  background: $orange;
  color: #FFF;

}

@media only screen and (min-width: 768px) {
  .btn {
    padding: 15px 35px;
    font-size: 18px;
  }
}


%scale {
  transition: all 0.2s ease-out;

  &:hover {
    transform: scale(1.02);
  }
}

%btnCenter {
  margin: auto;
}

// Section

section {
  margin: 0 auto 4% auto !important;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

// Header

header {
  height: 64px;
  display: flex;
  justify-content: space-between;
  background: #141414;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  transition: all 0.25s ease-out;

  #h1 {
    display: inline-block;
    height: 100%;
    width: 50%;

    a {
      background: url("../asset/img/logo/LOGO-CIMAISE-COULEUR-S.png") no-repeat center/60px;
      height: 100%;
      width: 50%;
      display: inline-block;
      transition: all 0.25s ease-out;
      color: transparent;
      animation-fill-mode: forwards;
    }
  }

  .menuResponsive {
    width: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    a {
      margin-right: 10%;
    }

    i {
      color: white;
      font-size: 33px;
      margin-right: 15%;
    }
  }




  nav {
    visibility: hidden;
    background: #F4F4F4;
    height: calc(100vh - 64px);
    width: 100%;
    display: flex;
    justify-content: center;
    position: absolute;
    top: 64px;
    z-index: 1;

    ul {
      display: flex;
      justify-content: space-evenly;
      flex-direction: column;
      align-items: center;
      height: 100%;
      width: 100%;

      li {
        text-align: center;
        width: 100%;

        .far {
          display: none;
        }
      }
    }

    a {
      font-weight: normal;
      line-height: 28px;
      font-size: 22px;
      color: #000000;
    }
  }

  @media only screen and (min-width: 768px) {
    height: 90px;
    background: #F4F4F4;
    justify-content: flex-end;

    #h1 {
      position: absolute;
      left: 3.5%;
      z-index: 2;
      width: inherit;

      a {
        background: #FFF url("../asset/img/logo/LOGO-CIMAISE-COULEUR.png") no-repeat center/70%;
        border-radius: 0 0 10px 10px;
        display: block;
        height: 220px;
        width: 180px;
      }
    }

    .menuResponsive {
      display: none;
    }

    nav {
      visibility: visible;
      height: 100%;
      width: calc(100% - (5% + 180px));
      top: 0;

      ul {
        flex-direction: inherit !important;

        li {
          width: initial;
        }

        .btn {
          position: relative;
          padding-left: 60px;

          i {
            left: 22px;
            top: calc(50% - 12.5px);
            font-size: 25px;
            position: absolute;
            display: inline;
          }
        }
      }
    }
  }
}


@media only screen and (min-width: 768px) and (max-width:1500px) {
  nav {
    .btn {
      position: relative;
      padding: 15px 35px !important;
      height: 62px;

      span {
        display: none;
      }
    }
  }
}

// Page

main {
  margin-top: 64px;

  @media only screen and (min-width: 768px) {
    margin-top: 90px;
  }
}



.bannerHome {
  height: calc(70vh - 64px);
  background: aqua;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background: url(../asset/img/block/background3.png) center center no-repeat;

  h1 {
    display: inline;
  }

  &>div {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &>div>div {
    display: table;
  }

  .underlineH1 {
    display: block;
    height: 6px;
    width: 195px;
    margin: 15px 0 35px;
    background: #FFFFFF;
  }

  p {
    color: #FFFFFF;
    margin-bottom: 50px;
  }

  @media only screen and (min-width: 768px) {
    height: calc(80vh - 90px);

    .underlineH1 {
      width: 343px;
      height: 9px;
      margin: 40px 0 50px;
    }

    p {
      font-size: 28px;
    }
  }
}




#homePage {
  .bannerHome {
    height: calc(100vh - 64px);
    background: url(../asset/img/block/backgroundHome.jpg) center center no-repeat;

    @media only screen and (min-width: 768px) {
      height: calc(100vh - 90px);
    }
  }

}






@media only screen and (min-width: 768px) {
  #scrollDown {
    height: 72px;
    width: 72px;
    position: absolute;
    bottom: 40px;
    left: calc(50% - 36px);
    background: #FFFFFF;
    border-radius: 50px;
    transition: all .2s ease-out;

    &:hover {
      background: $orange;

      i {
        color: #FFFFFF;
      }
    }

    a {
      display: flex;
      height: 100%;
      width: 100%;
      justify-content: center;
      align-items: center;

      i {
        font-size: 30px;
        color: #141414;
      }
    }
  }
}








#uneHomePage {

  &>div {
    display: inline-block;
  }

  article {
    position: relative;
    display: block;
    margin-bottom: 40%;

    figure {
      @extend %scale;
    }

    div {
      position: absolute;
      bottom: -80px;
      left: calc(50% - 40%);
      background: #FBB909;
      width: 80%;
      padding: 5%;
      border-radius: 20px;
    }

    h3 {
      color: #FFFFFF;
      background: $rouge;
      display: inline-block;
    }

    p,
    a {
      color: #FFFFFF;
      margin: 0;
    }

    p {
      margin-bottom: 1%;
    }

    a {
      font-size: 14px;
      text-transform: uppercase;
      font-weight: bold;
    }

    @media only screen and (min-width: 768px) {

      margin-bottom: 20%;

      div {
        bottom: -140px;
        left: calc(50% - 40%);
        width: 80%;
        padding: 6%;
      }

      p,
      a {
        font-size: 18px;
      }
    }
  }

  .btn {
    @extend %btnCenter;
  }
}








#citeHomePage {
  background: $bleu;

  &>div {
    text-align: center;
    padding-bottom: 30px;
    display: table;
  }

  h2 {
    color: #FFFFFF;

    &:before {
      background: #FFFFFF;
    }
  }

  p {
    font-size: 13px;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 40px;
  }

  @media only screen and (min-width: 768px) {

    &>div {
      padding-bottom: 60px;
    }

    p {
      font-size: 36px;
      margin-bottom: 100px;

    }
  }
}






#actuHomePage {

  p {
    margin: 0;
    padding: 0 0 10% 0;
  }

  &>div {
    display: flex;
    justify-content: center;
  }

  .actualite>p:nth-child(1) {
    font-weight: 500;
    font-size: 11px;
    text-transform: uppercase;
    width: 33.33%;
  }

  .actualite>div {
    width: 66.66%;

    &>p {
      max-width: 530px;
      margin: 0 auto 0 10%;
    }
  }

  strong {
    display: block;
  }

  .btn {
    @extend %btnCenter;
  }

  .date {
    position: relative;
    text-align: center;
    border-right: 6px solid $bleu;
  }

  .date:before {
    content: '';
    position: absolute;
    top: -3px;
    background: $bleu;
    height: 16px;
    width: 16px;
    right: -11px;
    border-radius: 20px;
  }



  div:last-of-type>p {
    border-color: transparent;
  }

  @media only screen and (min-width: 768px) {
    .actualite>p:nth-child(1) {
      font-size: 18px;
    }

    .date {
      border-width: 6px;
    }

    .date:before {
      height: 27px;
      width: 27px;
      right: -17px;
    }
  }
}

.sectionBlock {
  width: 100%;
}





.block {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  height: 172px;
  background: #C4C4C4 center no-repeat;
  @extend %scale;

  h2 {
    color: #fff;
    margin: auto;

    &::before {
      background-color: #fff;
    }
  }

  @media only screen and (min-width: 768px) {
    margin-bottom: 20px;
    height: 450px;
  }
}


.contactBlock {
  background-image: url(../asset/img/block/contact.png);
}

.engageBlock {
  background-image: url(../asset/img/block/engage.png);
}

.donationBlock {
  background-image: url(../asset/img/block/donation.png);
}






// QUI SOMMES NOUS ?


#quiSommesNousPage {
  &>.container {
    display: flex;
    flex-direction: column;
    align-items: center;

    .row {
      padding: 0;
    }
  }

  section {
    position: relative;
  }

  .ligne {
    flex-direction: row-reverse;
    display: flex;
    margin: 3% 0 7%;

    h3 {
      border-top: $orange 3px solid;
      border-bottom: $orange 3px solid;
      padding: 10px 0;
      margin: 0;


    }

    @media only screen and (min-width: 768px) {
      margin: 0;
      position: absolute;
      right: 0px;
      top: 0px;

      h3 {
        border-top: $orange 5px solid;
        border-bottom: $orange 5px solid;
        padding: 0;
      }

    }
  }
}



.team {
  margin-top: 4%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
  grid-gap: 3em;

  figure {
    position: relative;
    @extend %scale;

    figcaption {
      position: absolute;
      display: flex;
      justify-content: center;
      top: 0;
      bottom: 5px;
      left: 0;
      right: 0;
      flex-direction: column;
      align-items: center;
      @extend %font;
      font-size: 24px;
      color: #fff;
      font-weight: 600;
    }

    span {
      text-transform: uppercase;
      font-weight: bold;
      margin-bottom: 1%;

    }
  }

  img {
    width: 100%;
  }
}


// Article


// Contact

#contactPage {

  display: flex;
  flex-direction: column;

  h1 {
    color: $bleu;
    text-align: center;
  }

  .bannerHome {
    background: #fff;
    height: calc(70vh - 64px);

  }

  section {
    flex-direction: row;
  }

  div>div:nth-child(2),
  div>div:nth-child(3) {
    padding: 50px 0 40px;
    border-top: 1px solid #000;
  }
}

#coordonnees {
  a {
    font-weight: 600;
    text-decoration: none;
    color: #141414;
    margin-bottom: 20px;
    display: block;
  }
}

.main-add-button-plus,
.main-add-button-minus,
.main-add-button-plus1,
.main-add-button-minus1 {
  background-color: $bleu;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  position: absolute;
  -webkit-box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.75);
}

.hide {
  display: none;
}

#check-for-clicking,
#check-for-clicking1 {
  display: none;
}

.main-add-button-plus,
.main-add-button-minus,
.main-add-button-plus1,
.main-add-button-minus1 {
  background: $bleu;
  box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.35);
  cursor: pointer;
  right: 11%;
}

.main-add-button-plus .menu-add-button-title,
.main-add-button-plus1 .menu-add-button-title,
.main-add-button-minus .menu-add-button-title,
.main-add-button-minus1 .menu-add-button-title {
  width: 100%;
  font-size: 15px;
  padding-top: 5px;
  text-align: center;
  color: #fafafa;
}

#check-for-clicking:checked~.main-add-button-plus,
#check-for-clicking1:checked~.main-add-button-plus1 {
  display: none;
  -webkit-transition-delay: 0.1s;
  -moz-transition-delay: 0.1s;
  transition-delay: 0.1s;
}

#check-for-clicking:checked~.main-add-button-minus,
#check-for-clicking1:checked~.main-add-button-minus1 {
  display: inline;
  -webkit-transition-delay: 0.1s;
  -moz-transition-delay: 0.1s;
  transition-delay: 0.1s;
}

#check-for-clicking:not(:checked)~.main-add-button-minus,
#check-for-clicking1:not(:checked)~.main-add-button-minus1 {
  display: none;
  -webkit-transition-delay: 0.1s;
  -moz-transition-delay: 0.1s;
  transition-delay: 0.1s;
}

#check-for-clicking:not(:checked)~.main-add-button-plus,
#check-for-clicking1:not(:checked)~.main-add-button-plus1 {
  display: inline;
  -webkit-transition-delay: 0.1s;
  -moz-transition-delay: 0.1s;
  transition-delay: 0.1s;
}






//S'engager

#engage {
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .sectionText>p:nth-child(2) {
    margin-bottom: 10%;
    text-align: center;
  }
}








//Footer

footer {
  padding: 8% 0 20px;
  color: #fff;
  background-color: #E24827;

  a {
    color: #fff;
  }

  .missionLogo {
    div:nth-child(1) {
      order: 1;
    }
  }

  img {
    width: 60px;
  }

  li {
    padding-bottom: 15px;
    font-size: 11px;
    font-weight: normal;
  }

  .contenuFooter {
    display: inline-block;
    width: 100%;

    p {
      max-width: 190px;
    }
  }

  section {
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 30px;
  }

  .reseaux {
    flex-direction: column;
    font-size: 25px;

    a {
      margin-right: 3%;
    }
  }


  #mentionLeg {
    display: inline-block;
    background-color: #E24827;
    color: #fff;
    font-size: 13px;
    width: 100%;
    text-align: center;
    margin: 0;
  }

  #mobileCopyright {
    display: none;
  }



  @media only screen and (min-width: 768px) {
    .missionLogo {
      div:nth-child(1) {
        order: 0;
      }

      div:nth-child(2) {
        margin: 0 auto;
      }
    }

    img {
      width: 138px;
      padding-right: 30px;
    }

    .contenuFooter {
      p {
        font-size: 18px;
        max-width: 400px;
      }
    }

    li {
      font-size: 18px;
      padding-bottom: 25px;
    }

    section {
      justify-content: inherit;
    }

    .reseaux {
      flex-direction: column;
      font-size: 40px;

      a {
        margin-right: 5%;
      }
    }
  }
}

