@import url('https://fonts.googleapis.com/css?family=Lato:200,200i,300,300i,400,400i,600,600i,700,700i,900,900i');

* {
  font-family: Lato, sans-serif;
  box-sizing: border-box;
}
.container {
    margin: 0 auto;
    padding: 1em;
    background: #fff;
    border-radius: 1em;
  }
  
  section.cards {
    margin: 0 auto;
    display: grid;
  }
  
  .card {
    display: flex;
    border: 1px solid rgba(0, 0, 0, 0.1);
    transition: all 0.25s ease;
    margin:1em;
    padding-bottom: 1em;
  
  &:hover {
    transform: scale(1.05);
  }
  img{
      max-width:256px;
  }
  }
  
  .vertical {
    flex-direction: column;
    grid-row: span 2;
    grid-column: span 1;
  }
  
  .horizontal {
    flex-direction: column;
    grid-row: span 2;
    grid-column: span 1;
  }

  .horizontal .card__img, .reverse-horizontal .card__img {
    width: 100%;
  }
 
  .card__content {
    padding: 16px;
  }
  
  .card__type {
    font-variant: small-caps;
    letter-spacing: 2px;
    opacity: 0.9;
    color: palevioletred;
    padding-bottom: 0.5em;
  }
  
  .card__title {
    font-size: 18px;
    opacity: 0.8;
    font-weight: 700;
    padding-bottom: 0.5em;
    transition: all 0.25s ease;
  }
  
  .card__date {
    font-size: 14px;
    padding-bottom: 0.5em;
    opacity: 0.3;
  }
  
  .card__time-to-read {
    font-style: italic;  
  }
  
  .card__excerpt {
    font-size: 16px;
    padding-bottom: 0.5em;
  }
  
  article{
    text-align:center;
    margin:0 auto;
  }
 
  .testimonials-author{
    margin-bottom:35px;
    h4,p{
        text-align : center;
    }
  img {
      width: 142px;
      height: 142px;
      border-radius: 50%;
      box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
} 
.username {
  margin: 0;
}

.role {
  font-weight: normal;
  margin: 2px 0;
}
}
 /* LICENCE */
footer {
    display: block;
    text-align: center;
    padding: 25px;
    background-color: rgb(224, 224, 217);
 img {
    width: 50px;
}
}

 
   

@media screen and (min-width:1024px){
.container {
  max-width: 948px;
}

section.cards {
  margin: 0 auto;
  display: grid;
  grid-auto-flow: row dense;
  grid-template-columns: repeat(3, 256px);
  grid-gap: 16px;
}

.card {
    padding-bottom:0em;
  margin:0em;
}

.vertical {
  flex-direction: column;
  grid-row: span 2;
  grid-column: span 1;
}

.horizontal {
  flex-direction: row;
  grid-row: span 1;
  grid-column: span 2;
}



.horizontal .card__img, .reverse-horizontal .card__img {
  height: 100%;
}

.vertical .card__img {
  width: 100%;
}
article{
    text-align:left;
    margin:0;
  }
 
 .testimonials{
     display:flex;
     flex-direction:row;
 }

 cite{
     margin-top: 40px;
     margin-left: 15px;
 }


}